# Cache e arquivos gerados pelo Visual Studio
.vs/
[Bb]in/
[Oo]bj/

# Arquivos de usuário específicos (não devem ser compartilhados)
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de build e publicação
[Rr]elease/
[Dd]ebug/
publish/
**/publish

# Outros
*.DS_Store
Thumbs.db